/* You can add global styles to this file, and also import other style files */
body {
    padding-right:0 !important;
  }
  
  .modal-open {
    overflow:auto;
    padding-right:0 !important;
  }
  
  ::ng-deep .mat-snack-bar-container {
    margin-top: 250px !important;
  }
  simple-snack-bar span {
    margin:auto;
    text-align: center;
  }
  
  html {
    overflow: scroll;
    overflow-x: hidden;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  
  .modal-backdrop {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
  }
  
  .modal-backdrop.show {
    overflow: hidden;
    padding-right: 0px !important;
    width: 100% !important;
    height: 100% !important;
  }


